<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Five personality test</title>
    <link rel="stylesheet" href="admin-Login.css">
    <script src="https://unpkg.com/vue@3.2.0"></script>
</head>
<body>
    <div class="app">
        <div id="title" class="titleDesign">
            <img src="../img/MainLogo.png" alt="logo" class="img1">
            <div class="buttonContainer">
                <button class="backToMain" @click="backToMain">Back to Main</button>
            </div>
        </div>
        <form class="login-container" @submit.prevent="login">
            <h2>Admin Login</h2>
            <input type="text" v-model="username" placeholder="user name">
            <input type="password" v-model="password" placeholder="pass word">
            <button class="inputs" @click="login">Login</button>
        </form>
    </div>
    <script type="module" src="admin-Login.js"></script>
</body>
</html>
